---
import { ViewTransitions } from "astro:transitions";
import AdvNavBar from "@components/NavFoot/AdvNavBar.astro";
import FooterButLarger from "@components/NavFoot/FooterButLarger.astro";
import SmoothScrollSolid from "@components/items/misc/SmoothScrollSolid";
const { title, description, thumbnail } = Astro.props;
---

<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content={description} />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta property="og:url" content="https://cdzungx.id.vn/" />
      <meta property="og:type" content="website" />
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:image" content={thumbnail.src} />
      <meta property="og:image:type" content="image/png" />
      <meta name="twitter:card" content="summary_large_image" />
      <link rel="icon" type="x-icon" href="/favicon.ico" />
      <link rel="sitemap" href="/sitemap-index.xml" />
      <meta name="view-transition" content="same-origin" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <ViewTransitions />
      <script is:inline>
         document.documentElement.setAttribute('data-theme', localStorage.getItem('data-theme'));
      </script>
      <script>
         import { themeChange } from 'theme-change';
         themeChange();
      </script>
   </head>
   <body class="bg mb-auto flex min-h-[100dvh] flex-col">
      <div class="sticky -top-0 z-50 px-0">
         <div class="bg-white bg-opacity-50 backdrop-blur-lg backdrop-brightness-90 dark:bg-black dark:bg-opacity-50">
            <AdvNavBar />
         </div>
      </div>
      <main
         class="mx-5 my-10 mb-28 inline-block h-fit grid-cols-11 gap-10 md:ml-12 md:mr-0 md:grid lg:ml-28"
         transition:name="BlogCard">
         <slot />
      </main>
      <FooterButLarger />
      <style type="text/css" is:global>
         html {
            transition-duration: 200ms;
         }
         .drawer {
            z-index: 99999;
         }
      </style>

      <style is:global>
         html.lenis {
            height: auto;
         }

         .lenis.lenis-smooth {
            scroll-behavior: auto;
         }

         .lenis.lenis-smooth [data-lenis-prevent] {
            overscroll-behavior: contain;
         }

         .lenis.lenis-stopped {
            overflow: hidden;
         }

         .lenis.lenis-scrolling iframe {
            pointer-events: none;
         }
      </style>
      <SmoothScrollSolid client:load />
   </body>
</html>
